#myinput{
    width: 250px;
    border-radius: 25px;
    border-color: gray;
    height: 50px;
    margin-bottom: 20px;
    color: floralwhite;
    border-left: none; 

}

form{
    display: contents;
}
