body{
    background-image: url(../img/university_image.jpg);
    margin:0 auto;
    background-attachment: fixed;
    background-size:100% 100%;
    background-repeat: no-repeat;  

    
    font-family: sans-serif;

}
html {
    height: 100%;
  }

  

  .login-box {
    position: absolute;
    top: 65%;
    left: 15%;
    width: 350px;
    padding: 30px;
    transform: translate(-50%, -50%);
    background:whitesmoke;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 15px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #66a3ff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #66a3ff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #66a3ff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #66a3ff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
.login-box .buttonsty:hover{
    box-shadow: 0 12px 16px 0 rgba(37, 120, 214, 0.24), 0 17px 50px 0 rgba(37, 120, 214, 0.24);
}


  
